<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.AdminMapper">
    <select id="adminLogin" parameterType="hashmap" resultType="int">
        SELECT admin_id
        FROM admin
        WHERE admin_acc = #{adminAcc}
          AND admin_pwd = #{adminPwd};
    </select>
    <select id="selectByAcc" parameterType="String" resultType="admin">
        SELECT *
        FROM admin
        WHERE admin_acc=#{acc};
    </select>
</mapper>
