<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.DoctorMapper">
<!--    医生登录，返回医生id-->
    <select id="doctorLogin">
        SELECT doc_id FROM users
        WHERE doc_acc = 'acc'
        AND doc_pwd = PASSWORD('pwd');
    </select>
</mapper>
