<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.DoctorMapper">
<!--    医生登录，返回医生id-->
    <select id="doctorLogin" parameterType="hashmap" resultType="int">
        SELECT doc_id
        FROM doctor
        WHERE doc_acc = #{docAcc}
          AND doc_pwd = #{docPwd};
    </select>
    <select id="selectAllDoctorId" resultType="Integer">
        select doc_id
        from doctor
    </select>
    <select id="selectById" resultType="Doctor" parameterType="int">
        select *
        from doctor
        where doc_id in
        <foreach item="id" collection="docIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="selectByAcc" parameterType="String" resultType="Doctor">
        SELECT *
        FROM doctor
        WHERE doc_acc=#{acc};
    </select>

    <!-- 显示所有医生 -->
    <select id="selectAllDoctors" resultType="pojo.Doctor">
        SELECT * FROM doctor
    </select>

    <!-- 插入医生 -->
    <insert id="insertDoctor" parameterType="pojo.Doctor">
        INSERT INTO doctor (name, `doc_pwd`, doc_acc, role, Section_id, phone,major,job,degree)
        VALUES (#{name}, #{docPwd}, #{docAcc}, 1, #{sectionId},  #{phone}, #{major}, #{job},#{degree})
    </insert>

    <!-- 删除医生 -->
    <delete id="deleteDoctorById" parameterType="int">
        DELETE FROM doctor WHERE doc_id = #{docId}
    </delete>
</mapper>
