<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.medRecordMapper">

    <insert id="insertMedRecord" parameterType="pojo.medRecord">
        INSERT INTO medical_records (patient_id, doctor_id, gender, age, treatment_plan, create_time, reg_id)
        VALUES (#{patientId}, #{doctorId}, #{gender}, #{age}, #{treatmentPlan}, #{createTime}, #{regId})
    </insert>

    <select id="selectMedRecordByPid" resultType="pojo.medRecord">
        SELECT * FROM medical_records WHERE patient_id = #{pid}
    </select>
</mapper>