<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.PatientMapper">
    <!--    病人注册-->
    <insert id="patientRegister" parameterType="hashmap">
        INSERT INTO patient (name, patient_pwd, patient_acc, address, phone, id, balance, role, age)
        VALUES (
                   #{name},
                   #{patPwd},
                   #{patAcc},
                   #{address},
                   #{phone},
                   #{id},
                   #{balance},
                   2,
                   #{age}
               )
    </insert>
    <select id="patientLogin" parameterType="hashmap" resultType="int">
        select role
        from patient,doctor,admin
        where patient_acc=#{patAcc} AND patient_pwd=#{patPwd};
    </select>
</mapper>
