<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.RegisteredMapper">
    <select id="countRegister" resultType="int">
        SELECT COUNT(*) FROM registered WHERE doc_id=#{doc_id} AND appointment_date=#{appointment_date} AND timeframe=#{timeframe}
    </select>

    <insert id="insertRegistration" parameterType="pojo.Registered">
        INSERT INTO registered (doc_id, patient_id, fee, status, registration_time, appointment_date, people_before, timeframe)
        VALUES (#{doc_id}, #{patient_id}, #{fee}, #{status}, #{registration_time}, #{appointment_date}, #{people_before}, #{timeframe})
    </insert>

    <update id="changeStatusByDoctor1">
        UPDATE registered SET status = 1 WHERE registration_id = #{registration_id}
    </update>

    <update id="changeStatusByDoctor2">
        UPDATE registered SET status = 2 WHERE registration_id = #{registration_id}
    </update>

</mapper>